/* -- Font Face -- */
@font-face {
    font-family: Vazirmatn;
    src: url('../fonts/Vazirmatn-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../fonts/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../fonts/Vazirmatn-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../fonts/Vazirmatn-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
    font-family: Vazirmatn;
}

/* -- General Rules -- */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    direction: rtl;
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
    width: 100%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

/* -- Header Section -- */
.header {
    position: fixed;
    padding-top: 16px;
    padding-bottom: 16px;
    background: #fff;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .title a h1{
    font-size: 24px;
    font-weight: 700;
    color: #093a58;
    margin: 0;
    transition: color 0.5s;
}

.header .title a h1:hover{
    color: #094e79;
}

.header .menu-nav ul {
    display: flex;
}

.header .menu-nav a {
    display: block;
    color: #3acec2;
    font-size: 18px;
    font-weight: 300;
    margin: 0 10px;
    padding: 8px 10px;
    transition: color 0.5s;
}

.header .menu-nav a:last-child {
    margin-left: 0;
}

.header .menu-nav a:hover {
    color: #093a58;
}

/* -- Hero Section -- */
.hero {
    color: #fff;
    background: #3acec2;
    padding: 60px 0;
    margin-bottom: 60px;
    margin-top: 76px;
    text-align: center;
}

.hero img {
    width: 190px;
    height: auto;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 0;
}

.hero span {
    font-size: 24px;
}

/* -- Content Section -- */
.content {
    margin-bottom: 60px;
}

.content .content-wrapper {
    display: flex;
    gap:20px
}

.content .content-wrapper .column:nth-child(1),
.content .content-wrapper .column:nth-child(3) {
    width: 30%;
}

.content .content-wrapper .column:nth-child(2) {
    width: 40%;
}

.content .column h3 {
    font-size: 24px;
    margin-top: 0;
    color: #093a58;
}

.content .column .text-box p {
    font-weight: 300;
    margin-bottom: 28px;
}

.content .column .text-box p b {
    font-weight: 600;
}

.content .column .food-box {
    position: relative;
}

.content .column .food-caption {
    color: #fff;
    padding: 14px;
    background: rgba(19, 43, 102, .85);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content .column .food-caption h4 {
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}

.content .column .food-caption p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 0;
}

/* -- Footer Section -- */
.footer {
    text-align: center;
    background: #d9e4ea;
    padding: 32px 0;
}

.footer p {
    margin: 0;
}

/* -- Responsive Mode -- */

@media (max-width:1200px) {
    .wrapper {
        width: 100%;
    }

    .header {
        padding:16px;
    }

    .content .content-wrapper {
        gap: 0;
    }

    .content .content-wrapper .column{
        padding: 0 16px;
    }
}

@media (max-width:960px) {

    .content {
        margin-bottom: 32px;
    }

    .content .content-wrapper {
        flex-wrap: wrap;
    }

    .content .content-wrapper .column{
        margin-bottom: 32px;
    }

    .content .content-wrapper .column:nth-child(1),
    .content .content-wrapper .column:nth-child(3) {
        width: 50%;
    }

    .content .content-wrapper .column:nth-child(2) {
        width: 100%;
    }

    .content .content-wrapper .column:nth-child(2){
        order:3;
    }

    .content .content-wrapper .column:nth-child(3){
        order:2;
    }

    .content .content-wrapper .food-box img {
        max-height: 300px;
        width: 100%;
        object-fit: cover;
        object-position: top center;
    }
}


@media (max-width:580px) {
    
    .header .header-flex {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .header .menu-nav {
        margin-top: 16px;
        width: 100%;
    }

    .header .menu-nav ul {
        justify-content: space-evenly;
    }

    .header .menu-nav a {
        font-weight: 500;
        margin-left: 0;
        margin-right: 0;
    }

    .content .content-wrapper .column:nth-child(1),
    .content .content-wrapper .column:nth-child(2), 
    .content .content-wrapper .column:nth-child(3) {
        width: 100%;
    }

    .hero {
        margin-top: 130px;
      }
}

@media (max-width:438px) {
    .content .column .food-caption p {
        display: none;
    }
}